body {
    background-color: #fafafa;
}

.jumbotron {
    color: black;
    opacity: 0.7;
}

.jumbotron h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.jumbotron h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.panel-transparent {
    opacity: 0.95;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2);
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2);
}